services:
  backend:
    container_name: domko_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - backend_net

networks:
  backend_net:
    driver: bridge
